
@import "bootstrap";

/* universal */

html {
/*overflow-y: scroll;*/
  font-size : 100%;
}

/* カスタム, iPhone Retinaディスプレイ */ 
@media only screen and (min-width : 320px) {
  html{ font-size : 200%;}
}
 
/* XSサイズ : Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  html{ font-size : 200%;}
}
 
/* Sサイズ、タブレット : Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  html{ font-size : 87.5%;}
}
 
/* Mサイズ、デスクトップ : Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  html{ font-size : 100%;}
}
 
/* Lサイズ、ワイドスクリーン : Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  html{ font-size : 100%;}
}


body {
  padding-top: 3em;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  height: 8em
}

.center {
  text-align: center;
}

/* typography */
/*
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-left: 3em;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
*/
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

